

.fc {
  table {
    background-color: var(--chakra-colors-white);
  }
}

.dark {
  --fc-neutral-bg-color: var(--fc-button-hover-bg-color);
  --fc-list-event-hover-bg-color: var(--fc-neutral-bg-color);
  .fc {
    table {
      background-color: var(--chakra-colors-gray-900);
      .fc-theme-standard .fc-list-day-cushion.fc-cell-shaded {
        background-color: var(--chakra-colors-gray-900);
      }
    }
  }
}
