:root {
  --toastify-color-dark: var(--chakra-colors-gray-700);
  --toastify-color-progress-dark: var(--chakra-colors-yellow-400);
  --toastify-color-info: var(--chakra-colors-blue-400);
  --toastify-color-success: var(--chakra-colors-green-400);
  --toastify-color-warning: var(--chakra-colors-orange-400);
  --toastify-color-error: var(--chakra-colors-red-400);
}